body {
    width: 100%;
    height: 100%;
    --color: #E1E1E1;
    color: rgb(13, 13, 13);
    background-color: #F3F3F3;
    background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
    background-size: 55px 55px;
}

.center {
  display: flex; /* Enables flexbox */
  justify-content: center; /* Centers content horizontally (X-axis) */
  align-items: center; /* Centers content vertically (Y-axis) */
  height: 100vh; /* Ensures the parent div takes up the full viewport height */
  text-align: center; /* Centers text or inline elements */
}
